= form_for Customer.new, html: { class: 'form-signin' } do |f|
  = f.text_field :first_name, class: 'form-control', autofocus: '', placeholder: 'First name'
  = f.text_field :last_name, class: 'form-control', placeholder: 'Last name'
  = f.email_field :email, class: 'form-control', placeholder: 'Email'    
  = f.text_field :phone, class: 'form-control', placeholder: 'Phone'
  = f.text_area :comment, class: 'form-control', placeholder: 'Your comment here ...'
  = f.submit 'Send message', class: 'btn btn-lg btn-primary btn-block'